.top{
	min-width: 1070px;
	padding-top: 60px;
}
.top1{
	width: 100%;
	    height: 60px;
	    line-height: 60px;
	    position: fixed;
	    background: black;
	    min-width: 1070px;
	    top: 0px;
	    padding: 0 30px;
	    box-sizing: border-box;
	        z-index: 9999;
	    background:url(../img/bg.png);
		
}

body{
	background: url(../img/bodybg.jpg);
}
 .a-icon{
	 float: left;
 }
 
 .ul-nav{
	     float: left;
	     height: 60px;
	     position: absolute;
	     left: 50%;
	     margin-left: -464px;
		 margin-top: -34px;
		 
 }
 
 li {
     list-style-type: none;
 }
 
 .li1{
	     padding-left: 24px;
	     padding-right: 24px;
 }
 .topzit{
	 color: #ab192d;
	 font-style: oblique;
	 font-weight: bolder;
	 font-size: 15.5px;
	 letter-spacing: 1px;
 }
 .topzit1{
	 color: #838383;
	 font-style: oblique;
	 font-weight: bolder;
	 font-size: 15.5px;
	 letter-spacing: 1px;
 }
 .logo2{
	 float: right;
	 margin-top: 14px;
 }
 
  
/*底部*/
.footer{
	    width: 100%;
	    height: 80px;
	    line-height: 80px;
	    background: #1b1b1b;
}
.content{
	    height: 100%;
	    padding: 0 60px;
	    position: relative;	
}
.typeface{
	    color: #888b85;
	    margin-right: 24px;
}

/*中间*/
.zhongjian{
	width: auto;
	    height: auto;
	    position: relative;
	    clear: both;
	    overflow: hidden;
	    z-index: 1;
	    margin-top: 6px;
}
.auto-broad{
	    position: relative;
	    overflow: hidden;
}
.dna-title {
    position: absolute;
    left: 55px;
    top: 15px;
    display: block;
    z-index: 9;
}
.auto-broad .dna-list {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 8;
}
.auto-broad .dna-main {
    display: block;
    position: relative;
    top: 50%;
    width: 100%;
}